<?php
!defined('IN') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<form action="?" method="post" class="form-horizontal">
  <fieldset>
    <legend>登录</legend>
    <?php if ($msg): ?>
      <div class="alert alert-error"><?= $msg ?></div>
    <?php endif ?>
    <input type="hidden" name="back" value="<?= v('back') ?>">
    <div class="control-group">
      <label class="control-label" for="inputUsername">邮箱：</label>
      <div class="controls">
        <input type="text" name="username" id="inputUsername" placeholder="" value="<?= $username ?>" class="required">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">密码：</label>
      <div class="controls">
        <input type="password" name="password" id="inputPassword" placeholder="" class="required">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">登录</button>
      </div>
    </div>
  </fieldset>
</form>
