<ul>
  <?php foreach ($recents as $wiki): ?>
    <li>
      <h3><?php echo $t->title ?></h3>
    </li>
  <?php endforeach ?>
  <?php foreach ($recents as $wiki): ?>
    <li>
      <h3><?php echo $t->title ?></h3>
    </li>
  <?php endforeach ?>
  <?php foreach ($recents as $wiki): ?>
    <li>
      <h3><?php echo $t->title ?></h3>
    </li>
  <?php endforeach ?>
  <?php foreach ($recents as $wiki): ?>
    <li>
      <h3><?php echo $t->title ?></h3>
    </li>
  <?php endforeach ?>
  <?php foreach ($recents as $wiki): ?>
    <li>
      <h3><?php echo $t->title ?></h3>
    </li>
  <?php endforeach ?>
</ul>