<?php
!defined('IN') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <?php foreach (c('nav') as $title => $link): ?>
      <li class="<?= $link === $controller ? 'active' : '' ?>">
        <a href="<?= url($link) ?>"><?= $title ?></a>
      </li>
    <?php endforeach ?>
    <?php if (!g('has_login')): ?>
      <li><a href="<?= url('register') ?>">注册</a></li>
      <li><a href="<?= url('login') ?>">登录</a></li>
    <?php else: ?>
      <?php $user = g('user') ?>
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            <?= htmlspecialchars($user->name) ?>
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
          <li><a href="<?= url('my') ?>">账户设置</a></li>
          <li><a href="<?= url('mywiki') ?>">我的 Wiki</a></li>
          <li><a href="<?= url('logout') ?>">退出</a></li>
        </ul>
      </li>
    <?php endif ?>
  </ul>
  <h3 class="muted"><a href="<?= url() ?>"><?= c('site_name') ?></a></h3>
</div>
